{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>Questions</strong>
        <p>질문 게시판입니다</p>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">글쓴이</div>
                <div class="date">작성일</div>
                <div class="count">조회</div>
            </div>
            {% for boards in posts %}
            <div>
                <script>

                        if ("temp"+String({{boards.TeaserID|safe}}) != "temp"){
                            console.log({{boards.TeaserID}});
                            document.write('<div class="num">{{boards.TeaserID}}</div>');
                            var catDict = {};
                            catDict['category1'] = "it"; catDict['category2'] = "economics"; catDict['category3'] = "casual";
                            category = catDict['{{boards.Category}}']
                            document.write('<div class="title">'+category+'&nbsp;|&nbsp;&nbsp;<a href="questions/'+category+'/post={{boards.TeaserID}}">{{boards.Title}}</a></div>');
                        } else{
                             console.log({{boards.PostID}});
                            document.write('<div class="num">{{boards.PostID}}</div>');
                            var catDict = {};
                            catDict['category4'] = "free"; catDict['category5'] = "case";
                            category = catDict['{{boards.Category}}']
                            document.write('<div class="title">'+category+'&nbsp;|&nbsp;&nbsp;<a href="questions/'+category+'/post={{boards.PostID}}">{{boards.Title}}</a></div>');
                        }

                </script>
                <div class="writer">{{boards.AccID}}</div>
                <script>
                        var dateTime = '{{boards.Date}}';
                        var year,month,date;
                        temp = dateTime.split('년 ');
                        year = temp[0];
                        temp = temp[1].split('월 ');
                        month = temp[0];
                        temp = temp[1].split('일 ');
                        date = temp[0];
                        document.write( '<div class="date">' + year + '.' + month + '.' + date+'</div>' );

                </script>
                <div class="count">{{boards.Clicked}}</div>
            </div>
            {%endfor%}
        </div>
        <div class="board_page">
            {% if posts.has_previous %}
            <a href="?page=1" class="bt first"><<</a>
            <a href="?page={{posts.previous_page_number}}" class="bt prev"><</a>
            {% endif %}
            {% for pageNumber in posts.paginator.page_range %}
            {% if pageNumber == posts.number %}
            <a href="?page={{pageNumber}}" class="num on">{{pageNumber}}</a>
            {% else %}
            <a href="?page={{pageNumber}}" class="num">{{pageNumber}}</a>
            {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <a href='?page={{posts.next_page_number}}' class="bt next">></a>
            <a href="?page={{posts.paginator.num_pages}}" class="bt last">>></a>
            {% endif %}
        </div>

        <div class="bt_wrap">
            <a href="write" class="on">등록</a>
        </div>
    </div>
</div>
</body>
</html> 