{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 수정</title>
    <link rel="stylesheet" href='{% static "css/styles2.css"%}'>
</head>
<body>
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <div class="ms-3">
                    <div class="fw-bold">{{ans.AccID}}</div>
                    <form class="mb-4" method = "POST">
                        <textarea name="comment" rows="3" cols="50">{{ans.Answer}}</textarea>
                        <input type="submit" onclick="edit()" value="입력">
                        <script>
                            function edit(){
                              var res = confirm('댓글을 정말로 수정하시겠습니까?');
                              if(res){
                                alert("성공적으로 수정되었습니다.");
                                form.submit();
                              }
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>