{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
</head>
<body>
    <script>
        function back(){
        window.history.back()}
        function submit(){
        var title = document.getElementById('title');
        var text = document.getElementById('text');

            if(title.value == '' || title.value == null ||text.value == '' || text.value == null){
            alert('제목 또는 본문이 공백입니다.');
            return false;
            }
            else{
            form.submit();
            }
        }
    </script>

    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_write_wrap">

            <form method="POST" name="form">
            <div class="board_write">
                <div><div class="title">
                    <dl>
                        <dt> <b>제목</b> </dt>
                        <dd><input type="text" id = "title" name="title" placeholder="제목 입력" value={{bdc.Title}}>
                        </dd>
                    </dl>
                </div>


                <div class="info">
                    <dl>
                        <dt><b>글쓴이</b></dt>
                        <dd>{{bdc.AccID}}</dd>
                    </dl>
                    <dl>
                        <dt><b>게시판</b></dt>
                        <dd>{{category}} 게시판</dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="text" id = "text">{{bdc.Teaser}}</textarea>
                </div>
                </div>
            </div>

            <div class="bt_wrap">
                <a href="javascript:submit();" class='on'>수정</a>
                <a href="javascript:back();">취소</a>
            </div>
            </form>
        </div>
    </div>
</body>
</html>