{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
    <link rel="stylesheet" href='{% static "css/styles.css"%}'>
</head>
<body>
    <script>
        function back(){
        window.history.back()}
        function submit(){
        var title = document.getElementById('title');
        var text = document.getElementById('text');

            if(title.value == '' || title.value == null ||text.value == '' || text.value == null){
            alert('제목 또는 본문이 공백입니다.');
            return false;
            }
            else{
            form.submit();
            }
        }
    </script>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Brainteaser</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="search-input" onkeyup="if(window.event.keyCode==13){search()}" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button" onclick="search()" ></button>
                <script>
                    function search(){
                        window.location.href = "search="+document.getElementById('search-input').value.trim()
                    }
                </script>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">MyPage</a></li>
                    
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">문제은행</div>
                        <a class="nav-link" href="">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Questions
                        </a>
                        <div class="sb-sidenav-menu-heading">Community</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Community 
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="list">질문 게시판</a>
                                <a class="nav-link" href="layout-sidenav-light.html">자유 게시판</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Best Q & A
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    이 주의 Best
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">질문</a>
                                        <a class="nav-link" href="register.html">통계보기</a>
                                    </nav>
                                </div>
                                
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">About</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            마가리타
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            sw캡스톤디자인
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Brainteaser
                </div>
            </nav>
        </div>
    .<div id="layoutSidenav_content">

    <div class="board_wrap">
        <div class="board_title">
            <strong>게시글 작성</strong>
            <p>게시글을 작성하시오.</p>
        </div>
        <div class="board_write_wrap">

            <form method="POST" name="form">
            <div class="board_write">
                <div><div class="title">
                    <dl>
                        <dt> <b>제목</b> </dt>
                        <dd><input type="text" id = "title" name="title" placeholder="제목 입력" value={{bdc.Title}}>
                        </dd>
                    </dl>
                </div>


                <div class="info">
                    <dl>
                        <dt><b>글쓴이</b></dt>
                        <dd>{{bdc.AccID}}</dd>
                    </dl>
                    <dl>
                        <dt><b>게시판</b></dt>
                        <dd>{{category}} 게시판</dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="text" id = "text">{{bdc.Teaser}}</textarea>
                </div>
                </div>
            </div>

            <div class="bt_wrap">
                <a href="javascript:submit();" class='on'>수정</a>
                <a href="javascript:back();">취소</a>
            </div>
            </form>
        </div>
    </div>
</body>
</html>