{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
    <link rel="stylesheet" href='{% static "css/styles2.css"%}'>
</head>
<body>
    <script>
        const contents = {{boardContents|safe}}
    </script>
    <div class="board_wrap">
        <div class="board_title">
            <strong>질문게시판</strong>
            <p>질문게시판입니다.</p>
        </div>
   
        <div class="board_view_wrap">
            <div class="board_view"> 
            <script> document.write(`<div class ="title" > ${contents[0]}  </div>`)</script>
            <script>  document.write(`<div class="info"> 
                    <dl>
                        <dt>번호</dt>
                        <dd> ${contents[1]}</dd>
                    </dl>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd> ${contents[2]}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd> ${contents[3]}</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>${contents[4]}</dd>
                    </dl>
                </div>`)
            </script>
            <script> document.write(`<div class="cont"> ${contents[5]}</div>`) </script>


                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                            <!-- Comment with nested comments-->
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                    <!-- Child comment 1-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                        </div>
                                    </div>
                                    <!-- Child comment 2-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            When you put money directly to a problem, it makes a good headline.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            <div class="bt_wrap">
                <a href="list.html" class="on">목록</a>
                <script> document.write(`<a href="post=${contents[1]}/edit">수정</a>`); </script>

            </div>
        </div>
    </div>

</body>
</html>