{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
    <link rel="stylesheet" href='{% static "css/styles2.css"%}'>
    <script>
        var currAcc = '{{request.session.username}}';
        console.log(currAcc);
    </script>
</head>
<body>
    <script>
        const contents = {{boardContents|safe}}
    </script>
    <div class="board_wrap">
        <div class="board_title">
            <strong>질문게시판</strong>
            <p>질문게시판입니다.</p>
        </div>
   
        <div class="board_view_wrap">
            <div class="board_view"> 
            <script> document.write(`<div class ="title" > ${contents[0]}  </div>`)</script>
            <script>  document.write(`<div class="info"> 
                    <dl>
                        <dt>번호</dt>
                        <dd> ${contents[1]}</dd>
                    </dl>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd> ${contents[2]}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd> ${contents[3]}</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>${contents[4]}</dd>
                    </dl>
                </div>`)
            </script>
            <script> document.write(`<div class="cont"> ${contents[5]}</div>`) </script>


                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="답안을 입력 해주세요!"></textarea></form>
                            <!-- Comment with nested comments-->
                            {% for ans in teaserAns %}
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                {% if request.session.username == ans.AccID %}
                                <div class="ms-3">
                                    <div class="fw-bold">{{ans.AccID}} 수정가능</div>
                                    <div> {{ans.Answer}} </div>
                                </div>
                                {% else %}
                                <div class="ms-3">
                                    <div class="fw-bold">{{ans.AccID}}</div>
                                    <div> {{ans.Answer}} </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

            <div class="bt_wrap">
                <a href="list.html" class="on">목록</a>
                <script> document.write(`<a href="post=${contents[1]}/edit">수정</a>`); </script>

            </div>
        </div>
    </div>

</body>
</html>