{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href='{% static "css/css.css"%}'>
    <link rel="stylesheet" href='{% static "css/styles.css"%}'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
        function back(){
            window.history.back()}
        function submit(){
            form.submit();
        }
        function openWindowPop(url, name){
            var title = document.getElementById('title');
            var text = document.getElementById('text');
            if(title.value == '' || title.value == null || text.value == '' || text.value == null){
                alert('제목 또는 본문이 공백입니다.');
                return false;
            }else{
                window.name = 'parentForm';
                var options = 'top=10, left=10, width=500, height=300, status=no, menubar=no, toolbar=no, resizable=no';
                window.open(url, name, options);
            }
        }
    </script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시물 작성</strong>
            <p></p><a id='confirm'>등록 버튼을 눌러서 제목 검증을 진행됩니다. 검증이 진행된 후 제목 수정은 불가능합니다.</a></p>
        </div>
        <form method="POST" name="form">
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" name = "title" id="title"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{request.session.username}}<dd>
                    </dl>
                    <dl>
                        <dt>게시판</dt>
                        <dd>{{category}}</dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="text1" id="text"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="#" onclick="register()" class='on'>등록</a>
                <script>
                    function register(){
                        if(document.getElementById('confirm').value == 'confirmed'){
                            form.submit();
                        }else{
                            var popUp = openWindowPop('/questions/{{category}}/write/test='+document.getElementById('title').value, 'title test');
                            popUp.onbeforeunload = function(){
                                console.log("Closed");
                            };
                        }
                    }
                </script>
                <a href="javascript:back();">취소</a>
            </div>
        </div>
        </form>
    </div>
</body>
</html>